<!doctype html>
<html>
<head>
	<title>UIBox Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
		<link href="/css/icomoon.css" rel="stylesheet">
</head>
<body id="<%= pageid %>" class="navbar-fixed">
	<script src="/js/app.min.js"></script>
	<div class="page">
		<nav class="navbar navbar-fixed-top header" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand navbar-left" href="/"><img src="/img/logo50.png"></img></a>
					<form class="navbar-form navbar-left hidden-xs" action="/search" method="get" id="nav-search">
						<input type="hidden" id="search-sort-by" name="s" value=""></input>
						<div class="input-group">
							<input type="text" class="form-control" id="in-search" placeholder="Search Components" name="q" value="">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<i class="icon-arrow-down-5" id="nav-toggler"></i>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="/blog"><span class="icon"><i class="icon-rss"></i></span>Blog</a></li>
						<li><a href="https://twitter.com/uibox"><span class="icon"><i class="icon-twitter"></i></span>Twitter</a></li>
					</ul>
					<form class="navbar-form pull-left visible-xs" action="/search" method="get" id="nav-search-xs">
						<div class="input-group">
							<input type="text" class="form-control" id="in-search-xs" placeholder="Search Components" name="q" value="">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div class="page-body-ef">
			<div id="main-content">			
				<div class="container" id="blog-content">
					<div class="row" id="blog-header">
						<div id="title" class="col-lg-12 col-sm-12 col-xs-12">
							<h3>The UIBox Blog</h3>
						</div>
					</div>
					<div class="row row-nb">
						<div class="col-lg-10 col-sm-10 col-xs-12">
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="panel panel-default">
										<div class="panel-heading"><a href="/blog/the-whys-and-whats-of-uibox">The Whys and Whats of UIBox</a></div>
										<div class="panel-body">
											<p>Today we are spoilt for choice when it comes to HTML, CSS, JS UI components. So much so, that a search on Google results in hundreds of results. All this is great! Except for a few problems:
												<ul>
													<li>No demos: You find a nice component, or atleast one that appears to be nice, based on how the author is gushing about it, but then to find out how good it actually is, you have to write a demo yourself, because the author didn't include one.</li>
													<li>Poor (or no) documentation: How often have you come across something you like, only to find out that the author couldn't be bothered to write any documentation at all?</li>
													<li>Dependencies: Found something you want to use in your own project? Great, except that you have to include the entirety of Backbone.js just for that particular component. And the author forgot to mention it on the docs.</li>
													<li>Unknown browser support: So you found something nice and it has proper docs. You think you have hit the jackpot, but no! You put it in your app and spend a few hours perfecting it. Then you switch browsers and it is completely broken. Turns out, that nice component you found works only in Chrome. Unfortunately the author forgot to mention that too in the docs, and now you have to start all over again.</li>
												</ul>
											</p>

											<p>I have faced enough of these issues enough times, that I finally decided to do something about it. I built <a href="http://www.uibox.in" target="_blank">UIBox</a>.</p>
											<p>&nbsp;</p>
											<p><a href="/blog/the-whys-and-whats-of-uibox">Read More</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-sm-2 col-xs-12">
							<h4>Archives</h4>
							<p>(Empty)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer empty">
		</div>
	</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43449984-1', 'uibox.in');
  ga('send', 'pageview');

</script>
</body>
</html>