<!doctype html>
<html>
<head>
	<title>UIBox - Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
		<link href="/css/icomoon.css" rel="stylesheet">
</head>
<body id="<%= pageid %>" class="navbar-fixed">
	<script src="/js/app.min.js"></script>
	<div class="page">
		<nav class="navbar navbar-fixed-top header" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand navbar-left" href="/"><img src="/img/logo50.png"></img></a>
					<form class="navbar-form navbar-left hidden-xs" action="/search" method="get" id="nav-search">
						<input type="hidden" id="search-sort-by" name="s" value=""></input>
						<div class="input-group">
							<input type="text" class="form-control" id="in-search" placeholder="Search Components" name="q" value="">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<i class="icon-arrow-down-5" id="nav-toggler"></i>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="/blog"><span class="icon"><i class="icon-rss"></i></span>Blog</a></li>
						<li><a href="https://twitter.com/uibox"><span class="icon"><i class="icon-twitter"></i></span>Twitter</a></li>
					</ul>
					<form class="navbar-form pull-left visible-xs" action="/search" method="get" id="nav-search-xs">
						<div class="input-group">
							<input type="text" class="form-control" id="in-search-xs" placeholder="Search Components" name="q" value="">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div class="page-body-ef">
			<div id="main-content">			
				<div class="container" id="blog-content">
					<div class="row" id="blog-header">
						<div id="title" class="col-lg-12 col-sm-12 col-xs-12">
							<h3>The UIBox Blog</h3>
						</div>
					</div>
					<div class="row row-nb">
						<div class="col-lg-10 col-sm-10 col-xs-12">
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="panel panel-default">
										<div class="panel-heading"><a href="/blog/the-open-startup-experiment">The Open Startup Experiment</a></div>
										<div class="panel-body"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-sm-2 col-xs-12">
							<h4>Archives</h4>
							<p>(Empty)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer empty">
		</div>
	</div>
</body>
</html>