<!doctype html>
<html>
<head>
	<title>UIBox Blog - The Whys and Whats of UIBox</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
		<link href="/css/icomoon.css" rel="stylesheet">
</head>
<body id="<%= pageid %>" class="navbar-fixed">
	<script src="/js/app.min.js"></script>
	<div class="page">
		<nav class="navbar navbar-fixed-top header" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand navbar-left" href="/"><img src="/img/logo50.png"></img></a>
					<form class="navbar-form navbar-left hidden-xs" action="/search" method="get" id="nav-search">
						<input type="hidden" id="search-sort-by" name="s" value=""></input>
						<div class="input-group">
							<input type="text" class="form-control" id="in-search" placeholder="Search Components" name="q" value="">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<i class="icon-arrow-down-5" id="nav-toggler"></i>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="/blog"><span class="icon"><i class="icon-rss"></i></span>Blog</a></li>
						<li><a href="https://twitter.com/uibox"><span class="icon"><i class="icon-twitter"></i></span>Twitter</a></li>
					</ul>
					<form class="navbar-form pull-left visible-xs" action="/search" method="get" id="nav-search-xs">
						<div class="input-group">
							<input type="text" class="form-control" id="in-search-xs" placeholder="Search Components" name="q" value="">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div class="page-body-ef">
			<div id="main-content">			
				<div class="container" id="blog-content">
					<div class="row" id="blog-header">
						<div id="title" class="col-lg-12 col-sm-12 col-xs-12">
							<h3>The Whys and Whats of UIBox</h3>
							<span class="blog-author pull-left">Post by: bg</span><span class="blog-date pull-right">24 August, 2013</span>
						</div>
					</div>
					<div class="row row-nb">
						<div class="col-lg-10 col-sm-10 col-xs-12">
							<div class="row">
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="panel panel-default">										
										<div class="panel-body">
											<p>When the Internet was first beginning to take-off, some 15 years ago, most web pages were nothing more than a bunch of text with some images and links thrown in. Today, however, web pages are getting more and more interactive, to the extent that you can rewrite entire desktop applications as web applications and have them be available to anyone, anywhere. This is in large part due to the multitude of UI components that can be built using HTML, CSS and JavaScript.</p>

											<p>About 10 years ago, when I first started building websites, I had no choice but to write any UI component I wanted by myself. However, with the advent of <a href="https://github.com" target="_blank">Github</a> and <a href="http://stackoverflow.com" target="_blank">Stackoverflow</a>, I no longer have this problem. Almost any UI component that I can think of has already been built by someone. <a href="http://www.uibox.in/tag/progress" target="_blank">Progressbars</a>? Check. <a href="http://www.uibox.in/tag/scrollbar" target="_blank">Scrollbars</a>? Check. <a href="http://www.uibox.in/tag/calendar" target="_blank">Calendars</a>? Check. <a href="http://www.uibox.in/tag/color-picker" target="_blank">Colorpickers</a>? Check. In fact most of these components are much better than any I could have written myself.</p>

											<p>Today we are spoilt for choice when it comes to HTML, CSS, JS UI components. So much so, that a search on Google results in hundreds of results. All this is great! Except for a few problems:
												<ul>
													<li>No demos: You find a nice component, or atleast one that appears to be nice, based on how the author is gushing about it, but then to find out how good it actually is, you have to write a demo yourself, because the author didn't include one.</li>
													<li>Poor (or no) documentation: How often have you come across something you like, only to find out that the author couldn't be bothered to write any documentation at all?</li>
													<li>Dependencies: Found something you want to use in your own project? Great, except that you have to include the entirety of Backbone.js just for that particular component. And the author forgot to mention it on the docs.</li>
													<li>Unknown browser support: So you found something nice and it has proper docs. You think you have hit the jackpot, but no! You put it in your app and spend a few hours perfecting it. Then you switch browsers and it is completely broken. Turns out, that nice component you found works only in Chrome. Unfortunately the author forgot to mention that too in the docs, and now you have to start all over again.</li>
												</ul>
											</p>

											<p>I have faced enough of these issues enough times, that I finally decided to do something about it. I built <a href="http://www.uibox.in" target="_blank">UIBox</a>.</p>

											<p><h5>So what is UIBox?</h5>
											To start with, UIBox is a curated HTML, CSS, JS UI component library. In other words, I scour the web, and when I find something that meets all the marks, I include it here (You could also send anything you find interesting to <a href="mailto:submissions@uibox.in">submissions@uibox.in</a> and I'll look into it). Whenever, you need a UI component, you visit UIBox.in and search for it. SImple!</p>

											<p><h5>Okay, but how does that resolve any of those issues above?</h5>
											Well I don't just include any component. In order to get into UIBox, every UI component must meet a few requirements:
												<ul>
													<li>Must have a working demo page.</li>
													<li>Must be documented atleast well enough to get it working without much trouble.</li>
												</ul>
											Once I find a component that meets those requirements, I will test those UI components myself and find out what dependencies it requires and on what browsers it runs without problems. All this information is then listed on that particular items page in UIBox.</p>

											<p>So in short, you can get a good idea of how a component behaves, what browsers it supports and what dependencies it has from a single page. In addition, UIBox also suggests similar UI components, so that you can easily compare and find out which component is best for your needs.</p>

											<p>This though is just the tip of the iceberg. UIBox is meant to do a lot more than just this. However, since I am single guy working on this it is going to take some time to bring UIBox upto where I want it to be, and as such I feel it would be simpler to talk about each new feature as I build and integrate them into UIBox. For now though, UIBox does everything that is listed in this post, except for the browser support (which is something I am already working on. It's just a time consuming process to find out the supported browsers and if any of you have any ideas on how to speed it up I would be really really grateful).</p>

											<p>So that's it for now folks. And remember, the next time you need a UI component for your web app, UIBox.in is the place to go!</p>
											<p>&nbsp;</p>
											<p>PS: You might want to check <a href="http://www.uibox.in">UIBox</a> out now.</p>
											<p>PPS: While you're at it, you should also sign up for email notifications.</p>
											<p>PPPS: You can mail me at <a href="mailto:bg@uibox.in">bg@uibox.in</a> anytime you want and I'll reply as soon as possible.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-sm-2 col-xs-12">
							<h4>Archives</h4>
							<p>(Empty)</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer empty">
		</div>
	</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43449984-1', 'uibox.in');
  ga('send', 'pageview');

</script>
</body>
</html>