@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
html,body,.page,#demo #overlay{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
	color: #212426;
}
#demo #overlay{
	background-color: rgba(255,255,255,1.5);
	display: table;
	width: 99.9999%;
}
#demo #overlay #controls{
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;	
	z-index: 20;
}
#demo #overlay #controls i{
	color: #0468bf;
	display: block;
	position: relative;
}
a, a:visited,a:hover, a:focus{
	color: #0468bf;
	text-decoration: none;
}
a:hover, a:focus, #demo #overlay #controls i:hover{
	color: #0459a3;
}
div.bottom.right{
	bottom: 2px;
	right: 5px;
	position: absolute;
}
#controls .icon-play{
	font-size: 40px;
}
#control-play{
	cursor: pointer;
}
#bottom-controls .icon-fullscreen{
	font-size: 22px;
}
#demo-content{
	display: none;
}
.nav-logo{
	
}