@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-rss, .icon-ttter, .icon-cancel, .icon-arrow-down, .icon-arrow-up, .icon-thumbs-up, .icon-download, .icon-search, .icon-tags {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-rss:before {
	content: "\e2c7";
}
.icon-ttter:before {
	content: "\e16d";
}
.icon-cancel:before {
	content: "\e25e";
}
.icon-arrow-down:before {
	content: "\e309";
}
.icon-arrow-up:before {
	content: "\e306";
}
.icon-thumbs-up:before {
	content: "\e0d4";
}
.icon-download:before {
	content: "\e05e";
}
.icon-search:before {
	content: "\e07f";
}
.icon-tags:before {
	content: "\e031";
}
