<!doctype html>
<html>
<head>
	<title>uibox - <%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="./css/demo.css" rel="stylesheet">
		<link href="./css/icomoon.css" rel="stylesheet">
</head>
<body id="demo">
	<div class="page">
		<div id="demo-content"></div>
		<div id="overlay">
			<div id="controls">
				<div id="control-play">
					<i class="icon-play"></i>
					<span>Live Demo</span>
				</div>
			</div>
		</div>
		<div id="bottom-controls" class="bottom right"><a href="?noframe=true" target="_blank"><i class="icon-fullscreen"></i></a></div>
	</div>
	<script type="text/javascript" src="./js/jquery.1.10.2.js"></script>
	<script type="text/javascript">
		$(window).ready(function(){
			$('#control-play').on('click', function(){
				$('#overlay').remove();
				$('#demo-content').show();
			});
			if(window.location.search.indexOf('noframe=true') > -1)
				$('#bottom-controls').hide();
		});
	</script>
</body>
</html>