<!doctype html>
<html>
<head>
	<title>UIBox - <%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<% if(locals.environment && environment == 'development'){ %>
			<link href="/css/bootstrap.css" rel="stylesheet">
			<link href="/css/app.css" rel="stylesheet">
			<link href="/css/icomoon.css" rel="stylesheet">
		<% } else{ %>
			<link href="/css/app.min.css" rel="stylesheet">
		<% } %>
</head>
<body id="<%= pageid %>" class="navbar-fixed">
	<% if(locals.environment && environment == 'development'){ %>
		<script type="text/javascript" src="/js/jquery.1.10.2.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
	<% } else{ %>
		<script src="/js/app.min.js"></script>
	<% } %>
	<div class="page">
		<nav class="navbar navbar-fixed-top header" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand navbar-left" href="/"><img src="/img/logo50.png"></img></a>
					<form class="navbar-form navbar-left hidden-xs" action="/search" method="get" id="nav-search">
						<input type="hidden" id="search-sort-by" name="s" value="<%= locals.sort || '' %>"></input>
						<div class="input-group">
							<input type="text" class="form-control" id="in-search" placeholder="Search Components" name="q" value="<%= locals.query || '' %>">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<i class="icon-arrow-down" id="nav-toggler"></i>
					</button>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown visible-xs">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon"><i class="icon-tags"></i></span>Tags</a>
							<ul class="dropdown-menu">
								<div class="tags hcenter">
									<% tags.forEach(function(tag){ %>
									<a href="/tag/<%= tag.name %>" class="label label-success"><%= tag.name %></a>
									<% }) %>
								</div>
							</ul>
						</li>
						<li class="hidden-xs"><a href="#" id="nav-btn-tags"><span class="icon"><i class="icon-tags"></i></span>Tags</a></li>
						<li><a href="/blog"><span class="icon"><i class="icon-rss"></i></span>Blog</a></li>
						<li><a href="https://twitter.com/uibox"><span class="icon"><i class="icon-ttter"></i></span>Twitter</a></li>
					</ul>
					<form class="navbar-form pull-left visible-xs" action="/search" method="get" id="nav-search-xs">
						<div class="input-group">
							<input type="text" class="form-control" id="in-search-xs" placeholder="Search Components" name="q" value="<%= locals.query || '' %>">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form>
				</div>
			</div>
		</nav>
		<div id="page-body-spacer"></div>
		<div class="fullpage"></div>
		<div class="container" id="page-header-tags">
			<div class="tags hcenter">
				<% tags.forEach(function(tag){ %>
				<a href="/tag/<%= tag.name %>" class="label label-success"><%= tag.name %></a>
				<% }) %>
			</div>
		</div>
		<div class="page-body-ef">
			<div id="main-content">
