<!doctype html>
<html>
<head>
	<title>UIBox - Curated HTML, CSS, JS UI Component Library</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% if(locals.environment && environment == 'development'){ %>
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/app.css" rel="stylesheet">
		<link href="/css/icomoon.css" rel="stylesheet">
	<% } else{ %>
		<link href="/css/app.min.css" rel="stylesheet">
	<% } %>
</head>
<body id="index">
	<% if(locals.environment && environment == 'development'){ %>
		<script src="/js/jquery.1.10.2.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/js/notification.js"></script>
	<% } else{ %>
		<script src="/js/app.min.js"></script>
	<% } %>
	<div class="page">
		<div class="navbar navbar-default navbar-thin hcenter header" id="notification-signup">
			<div class="container">
				<span>
					<form action="/notify/signup" class="navbar-form" novalidate>
						<span>UIbox is under active development. Sign up for notifications and invites&nbsp;&nbsp;</span>
						<input id="in-csrf" type="hidden" name="_csrf" value="<%= csrf %>"></input>
						<input id="in-email" name="email" type="email" class="form-control" placeholder="you@example.com" tabindex="2"></input>
					</form>&nbsp;&nbsp;
				</span>
				<i id="close-signup" class="icon-close navbar-right"></i>
			</div>
		</div>
		<div class="page-body">
			<div class="bg">
				<div class="container jumbotron hcenter" id="content">
					<img class="logo" src="./img/logo175.png" />
					<p>Curated HTML, CSS, JS UI Component Library</p>
					<form action="/search" method="get" novalidate>
					<input type="hidden" id="search-sort-by" name="s" value=""></input>
						<div class="input-group">
							<span class="input-group-addon"><label for="search">Search</label></span>
							<input id="search" name="q" class="form-control" type="text" placeholder="Ex: carousel, menu, date picker" tabindex="1"></input>
						</div>
					</form>
				</div>
			</div>
			<div id="main-content">
				<div class="container">
					<% if(locals.tags){ %>
					<div class="row">
						<div class="col-xs-12">
							<h4>Explore Tags:</h4>
							<div class="tags hcenter">
								<% tags.forEach(function(tag){ %>
								<a href="/tag/<%= tag.name %>" class="label label-success"><%= tag.name %></a>
								<% }) %>
							</div>
						</div>
					</div>
					<% } %>
					<div class="row">
						<div class="col-xs-12 hcenter tspacer">
							<h4>Latest from the blog: <a href="/blog/the-whys-and-whats-of-uibox">What is UIBox and why I built it</a>.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<nav class="navbar" role="navigation">
				<div class="container">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/blog"><span class="icon"><i class="icon-rss"></i></span>Blog</a></li>
						<li><a href="https://twitter.com/uibox"><span class="icon"><i class="icon-ttter"></i></span>Twitter</a></li>
					</ul>
					<div class="navbar-header">
						<a class="navbar-brand hidden-xs pull-right" href="/"><img src="./img/logo50.png"></img></a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<script type="text/javascript">
		$(window).ready(function(){
			$('#search').trigger('focus');
		});
	</script>
	<% include common %>
</body>
</html>