<% include header %>
<input type="hidden" id="csrf" value="<%= csrf %>"></input>
<div class="container" id="item-content">
	<% if(locals.item){ %>
	<div class="row" id="item-header">
		<div id="title" class="col-lg-12 col-sm-12 col-xs-12">
			<div class="pull-left"><h3><%= item.name %> <!--<a href="bookmark"><i class="icon-bookmark-3"></i></a>--></h3><p><a href="<%= item.author.link %>" target="_blank"><%= item.author.name %></a></p></div>
			<div class="pull-right"><h3><span id="cnt-like"><%= item.likes %></span> <a href="#" id="btn-like"><span class="icon-thumbs-up"></span></a></h3><p><span id="cnt-download"><%= item.downloads %></span> Downloads</p></div>
		</div>
	</div>
	<div class="row" id="item-desc">
		<div id="demo" class="col-lg-5 col-sm-5 col-xs-12">
			<div id="demo-inner">
				<img class="img-responsive" src="/img/thumbs/<%= item.id %>.png">
			</div>
		</div>
		<div id="description" class="col-lg-7 col-sm-7 col-xs-12">
			<p><%= item.long_desc %></p>
			<p>License: 
				<% item.licenses.forEach(function(l,i){ %><%= i > 0 ? ', ' : '' %><a href="<%= l.link %>" data-toggle="tooltip" title="<%= l.name %>" target="_blank"><%= l.short_name %></a><% }) %>
				<% if(item.licenses.length == 0){ %>
				None
				<% } %>
			</p>
			<div id="actions">
				<a href="<%= item.demo %>" target="_blank" class="btn btn-primary" id="btn-demo">Demo</a>
				<a href="<%= item.github %>" target="_blank" class="btn btn-primary" id="btn-download">Download</a>
				<!--<a href="<%= item.bower %>" target="_blank" class="btn btn-primary" id="btn-bower">Bower</a>-->
				<a href="<%= item.docs %>" target="_blank" class="btn btn-primary" id="btn-docs">Documentation</a>
				<a href="<%= item.github %>" target="_blank" class="btn btn-primary" id="btn-github">Github</a>
			</div>
		</div>
	</div>
	<div class="row" id="item-details">
		<div id="browsers" class="col-lg-4 col-sm-4 col-xs-12">
			<h5>Browser Support</h5>
			<ul>
				<li><span class="name">Not yet tested</span></li>
				<!--
				<li><span class="name">IE: </span><span class="version">8+</span></li>
				<li><span class="name">Safari: </span><span class="version">4+</span></li>
				<li><span class="name">Firefox: </span><span class="version">14+</span></li>
				<li><span class="name">Chrome: </span><span class="version">All</span></li>
				<li><span class="name">Opera: </span><span class="version">None</span></li>
				<li><span class="name">Mobile Safari: </span><span class="version">iOS5+</span></li>
				-->
			</ul>
		</div>
		<div id="dependencies" class="col-lg-4 col-sm-4 col-xs-12">
			<h5>Dependencies</h5>
			<ul>
				<% item.deps.forEach(function(d){ %>
				<li><span class="name"><%= d.name %></span></li>
				<% }) %>
				<% if(item.deps.length == 0){ %>
				<li><span class="name">None</span></li>
				<% } %>
			</ul>
		</div>
		<div id="tags" class="col-lg-4 col-sm-4 col-xs-12">
			<h5>Tags</h5>
			<div class="tags">
				<% item.tags.forEach(function(t){ %>
				<a href="/tag/<%= t.name %>" class="label label-success"><%= t.name %></a>
				<% }) %>
			</div>							
		</div>
	</div>
	<div class="row row-nb" id="item-similar">
		<div class="col-xs-12 col-lg-12 col-sm-12">
			<h5>Similar Components</h5>
		</div>
		<% item.similar.forEach(function(i){ %>
		<div class="col-lg-3 col-sm-4 col-xs-12">
			<a href="/item/<%= i.id %>">
				<div class="fc-group">
					<div class="fc-thumbnail">
						<div class="fc-counts"><span class="fc-likes pull-left"><span class="icon-thumbs-up"> </span><%= i.likes %></span><span class="fc-downloads pull-right"><span class="icon-download"> </span><%= i.downloads %></span></div>
						<img class="img-responsive" src="/img/thumbs/<%= i.id %>.png">
					</div>
					<span class="fc-caption"><%= i.name %></span>
					<div class="fc-desc"><%= i.short_desc %></div>
				</div>
			</a>
		</div>
		<% }); %>
	</div>
	<script type="text/javascript">
		$(window).ready(function(){
			var csrf = $('#csrf').val();
			var registerAction = function(action, endpoint){
				var data = JSON.parse(localStorage.getItem(action)) || [];
				if(data.indexOf(<%= item.id %>) > -1)
					return;
				var $cd = $('#cnt-like');
				$cd.text(parseInt($cd.text())+1);
				data.push(<%= item.id %>);
				localStorage.setItem(action, JSON.stringify(data));
				$.post('/item/<%= item.id %>/'+endpoint, {_csrf: csrf});
			};
			$("#btn-download").on('click', function(){
				registerAction('user.downloaded', 'download');
			});
			$("#btn-like").on('click', function(){
				registerAction('user.liked', 'like');
			}).tooltip({
				placement: 'left',
				title: 'Click to Like <%= item.name %>'
			});
		});
	</script>
	<% } %>
</div>
<% include footer %>