<% include header %>
<div class="container" id="search-content">
	<div class="row" id="search-header">
		<div id="title" class="col-lg-12 col-sm-12 col-xs-12">
			<h3><%= locals.query %></h3>
			<div class="pull-left">
				<p><%= locals.res ? locals.res.length == 1 ? '1 Result' : locals.res.length + ' Results' : 'No Results'%></p>
			</div>
			<div class="dropdown pull-right">
				Sort By: <a href="#" id="sort-by" data-toggle="dropdown"><%= locals.sort || 'Relevance' %></a>
				<ul class="dropdown-menu" id="sort-by-opt" role="menu" aria-labelledby="dropdownMenu">
					<li><a tabindex="-1" href="#">Relevance</a></li>
					<li><a tabindex="-1" href="#">Downloads</a></li>
					<li><a tabindex="-1" href="#">Likes</a></li>
				</ul>
			</div>
		</div>
		<div id="sort" class="col-lg-4 col-sm-4 col-xs-12">
		</div>
	</div>
	<% if(locals.res){ %>
	<div class="row row-nb search-results row-first">
		<% res.forEach(function(item){ %>
		<div class="col-lg-3 col-sm-4 col-xs-12">
			<a href="/item/<%= item.id %>">
				<div class="fc-group">
					<div class="fc-thumbnail">
						<div class="fc-counts"><span class="fc-likes pull-left"><span class="icon-thumbs-up"> </span><%= item.likes %></span><span class="fc-downloads pull-right"><span class="icon-download"> </span><%= item.downloads %></span></div>
						<img class="img-responsive" src="/img/thumbs/<%= item.id %>.png">
					</div>
					<span class="fc-caption"><%= item.name %></span>
					<div class="fc-desc"><%= item.short_desc %></div>
				</div>
			</a>
		</div>
		<% }); %>
		<% if(locals.res.length == 0){ %>
		<div class="col-lg-12 col-sm-12 col-xs-12">
			<h3>Sorry, we couldn't find any UI components matching '<%= locals.query %>'</h3>
			<p>Try reducing the number of keywords or changing a few keywords.</p>
		</div>
		<% } %>
	</div>
	<!--
	<div class="row row-nb" id="search-more">
		<div class="col-sm-12 col-lg-12 col-xs-12 hcenter">
			<button type="button" class="btn btn-primary">Load More Results</button>
		</div>
	</div>
	-->
	<% } %>
</div>
<script type="text/javascript">
	$(window).ready(function(){
		$('#sort-by-opt li').on('click', function(){
			var s = $(this).text();
			$('#sort-by').text(s);
			$('#search-sort-by').val(s.toLowerCase());
			$('#nav-search').trigger('submit');
		});
	});
</script>
<% include footer %>